<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stopwaiting">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />

    <application
        android:name=".DataApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".MyPageActivity" />
        <activity android:name=".CheckMyWaitingActivity" />
        <activity android:name=".WaitingNormalActivity" />
        <activity android:name=".WaitingSelectTimeActivity" />
        <activity android:name=".SettingInfoActivity" />
        <activity android:name=".SettingLocationActivity" />
        <activity android:name=".SettingTimeActivity" />
        <activity android:name=".ManageWaitingListActivity" />
        <activity android:name=".ManageWaitingActivity" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="1rls895ues" />
    </application>

</manifest>