<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stopwaiting">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Activity.DataApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.SignInActivity" />
        <activity android:name=".Activity.MyPageActivity" />
        <activity android:name=".Activity.CheckMyWaitingActivity" />
        <activity android:name=".Activity.WaitingNormalActivity" />
        <activity android:name=".Activity.WaitingSelectTimeActivity" />
        <activity android:name=".Activity.SettingInfoActivity" />
        <activity android:name=".Activity.SettingLocationActivity" />
        <activity android:name=".Activity.SettingTimeActivity" />
        <activity android:name=".Activity.ManageWaitingListActivity" />
        <activity android:name=".Activity.ManageWaitingActivity" />
        <activity android:name=".Activity.ManageWaitingPersonActivity" />
        <activity android:name=".Activity.ScanQRActivity" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="1rls895ues" />
    </application>

</manifest>